*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: rgb(255, 255, 255);
    text-align: center;
    top: 50%;
    left: 50%;
    bottom: 50%;
    font-size: xx-large;
    
}
 body{
    height: 100vh;
    background: linear-gradient(136deg, rgb(248, 11, 3) 100%);
}
 form .field{
   height: 45px;
   width: 100%;
   margin-bottom: 12px;
   background-color: aliceblue;
 }
 form .field input{
   height: 100%;
   width: 40%;
   border-radius: 5px;
   border: 1px solid rgb(209, 42, 42);
   padding: 0 20px;
   outline: none;
   font-size: 17px;
   transition: all 0.3s ease;
 }
 
form .BUTTON input{
  background: linear-gradient(136deg, rgb(196, 155, 234) 0%, rgb(142, 190, 237) 100%);
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;

}